<div class="new-form-page">
  <h1 class="page-title">LOG IN</h1>

  <div class="form-box">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <div class="field">
        <p>Email</p>
        <%= f.email_field :email, class: "select-box" %>
      </div>

      <div class="field">
        <p>Password</p>
        <%= f.password_field :password, class:"select-box" %>
      </div>

      <div class="button-wrapper">
        <%= f.submit "Log in", class: "custom-button" %>
      </div>
    <% end %>
  </div>
  
  <p style="margin-top: 60px; font-size: 12px; text-align: center; color: #aaa;">© PUMPLOG</p>
</div>