<div class="toppage">
  <h1 class="page-title">WELCOME</h1>

  <div class="auth-buttons">
    <%= link_to new_user_session_path, class: "custom-button" do %>
      &thinsp; Log in &thinsp;
    <% end %>
    <%= link_to "Sign up", new_user_registration_path, class: "custom-button" %>
  </div>

  <p style="margin-top: 60px; font-size: 12px; text-align: center; color: #aaa;">© PUMPLOG</p>
</div>